.home {
  width: 100%;
  margin: 0;
  top: 0;
}

.container {
  margin: 0;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applyOnlineSection {
background: #FAFAFA;
  padding: 60px 100px;

}

.applyCardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 10px;
}


