.home {
  width: 100%;
  margin: 0;
  top: 0;
}

.container {
  margin: 0;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applyOnlineSection {
background: #FAFAFA;
  padding: 60px 100px;

}

.applyCardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 10px;
}



.learningSection {
  background: #ffffff;
  padding: 60px 220px;
}

.learningGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 10px;
}

.learningBtn {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}



.newsSection {
  background: #ffffff;
  padding: 70px 0;
}

.newsList {
  margin-top: 10px;
}

.newsBtn {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}


.blueBannerSection {
    height: 560px;
    background-image: url("../assets/blue.png");
  padding: 80px 0;
  background-size: cover;
  background-position: center;
}

.bannerCard {
  background: #ffffff;
  padding: 28px 30px;
  border-radius: 4px;
width: 443px;
height: 187px;
box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);
  position: relative;
      top: 119px;
    right: 291px;
}

/* الخط البرتقالي */
.bannerTopBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #f58220;
  border-top-left-radius: 6px;
}

.bannerTitle {
  margin: 18px 0 12px;
color: #333;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 125% */
}

.bannerDesc {
  margin: 0 0 20px;
color: #333;
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
}



.section-8{
    width: 100%;
    height: 580px;
    display: flex;
    padding: 75px 142.5px 75.006px 142.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #f5f5f5;
}

.cards-box{
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}

.title-box{
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icons-box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icons-box-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.section-9{
    width: 100%;
    height: 580px;
    display: flex;
    padding: 75px 142.5px 75.006px 142.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #ffff;
}




