.card2 {
    padding: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}
  
.card2 img {
    display: block;
    margin: 0 auto;
}
  
.card2p {
    width: 233px;
    color: #333;
    text-align: center;
font-family: "Inter";
    font-size: 17px;
    font-weight: 700;
    line-height: 28.08px;
}
.cardparagraph1 {
    color: #333;
font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}