.subnav {
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
  height: 90px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.subnav-list {

  list-style: none;
  margin: 20px 0;
  padding: 14px 0;
  display: flex;
  gap: 30px;
}

.subnav-list li {
    
    color: #333;
font-family: "Inter";
font-size: 15px;
font-weight: 600;
  cursor: pointer;

}


