.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background image */
.hero-bg {
  position: absolute;
  inset: 0;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}

/* Content */
.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  max-width: 520px;
  margin-left: 175px;
}

.hero-title {
color: #FFF;
font-family: "Inter";
font-size: 38px;
font-style: normal;
font-weight: 700;
  margin-bottom: 15px;
}

.hero-description {
color: #FFF;
font-family: "Inter";
font-size: 23px;
font-weight: 400;
line-height: 36px;
  margin-bottom: 20px;
}


