.navbar {
background: #032D62;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-container {
  width: min(1200px, 90%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links a {
    font-family: "Inter";
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f58220; /* orange زي التصميم */
}
